#header #logo { position:absolute; text-indent:-2000px; left:13px; top:13px; width:181px; height:31px; background-size: 90% 120%; background-repeat: no-repeat; background-image: url("openacc.png"); }
